name: CI

on:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - run: cargo test

  clippy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - run: cargo clippy

  fmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - run: cargo fmt --check
